.blog#blog
	.container
		img.section-img(src='./images/section-icon.svg')
		p.section-title blog
		.blog-wrapper
			.blog-block
				img(src='./images/bl_1.png')
				.blog-icons
					.blog-icons-right
						<i class="fa fa-calendar"></i>
						p.blog-icons-date 02/02/2018
					.blog-icons-left
						<i class="fa fa-comments-o"></i>
						p.blog-counts 0
				p.blog-title Ut nec sodales lorem
				p.blog-text Cras massa nulla, cursus quis purus eu, varius feugiat urna. Praesent vulputate placerat turpis, nec fringilla turpis sollicitudin at. Phasellus convallis quam eget risus ultricies dignissim.

			.blog-block
				img(src='./images/bl_2.png')
				.blog-icons
					.blog-icons-right
						<i class="fa fa-calendar"></i>
						p.blog-icons-date 02/02/2018
					.blog-icons-left
						<i class="fa fa-comments-o"></i>
						p.blog-counts 10
				p.blog-title Vivamus sed lacus vitae lacus cursus fringilla
				p.blog-text Nulla in neque id neque dapibus rutrum maximus aliquam ex.  Nulla in neque id neque dapibus rutrum maximus aliquam ex. 

			.blog-block
				img(src='./images/bl_3.png')
				.blog-icons
					.blog-icons-right
						<i class="fa fa-calendar"></i>
						p.blog-icons-date 02/02/2018
					.blog-icons-left
						<i class="fa fa-comments-o"></i>
						p.blog-counts 25
				p.blog-title Etiam non faucibus 
				p.blog-text Fusce tincidunt felis non lacus ullamcorper, sed eleifend lorem tincidunt. Ut commodo, ligula nec tincidunt dignissim, sem ante sodales sapien,
