.clients
	.container
		img.section-img(src='./images/section-icon.svg')
		p.section-title some happy clients
		<i class="fa fa-angle-left clients-slider-prev"></i>
		.js-clients-slider
			.client-img
				img(src='./images/cl_1.png' id='1')
			.client-img
				img(src='./images/cl_2.png' id='2')
			.client-img
				img(src='./images/cl_3.png' id='3')
			.client-img
				img(src='./images/cl_4.png' id='4')
			.client-img
				img(src='./images/cl_4.png' id='4')
			.client-img
				img(src='./images/cl_3.png' id='3')
			.client-img
				img(src='./images/cl_2.png' id='2')
			.client-img
				img(src='./images/cl_1.png' id='1')
		<i class="fa fa-angle-right clients-slider-next"></i>