.do#services
	.container
		img.section-img(src='./images/section-icon.svg')
		p.section-title what we do
		p.section-subtitle Fusce suscipit sit amet nisi in euismod. Aenean dignissim finibus eros, sit amet venenatis ante vestibulum id. Vivamus arcu elit, luctus eu porta a, pellentesque a mi. Integer finibus auctor faucibus.
		<i class="fa fa-angle-left do-slider-prev"></i>
		.js-do-slider
			.do-block
				.do-wrapper-img-icon
					<i class="fa fa-search-plus" aria-hidden="true"></i>
					img.do-block-img(src='./images/do_slide.svg')
					
				p.do-block-title researching
				p.do-block-descr Curabitur euismod arcu in semper dignissim enean faucibus vulputate.
			.do-block
				.do-wrapper-img-icon
					<i class="fa fa-cubes"></i>
					img.do-block-img(src='./images/do_slide.svg')
				p.do-block-title development
				p.do-block-descr Aenean faucibus vulputate placerat. Cras elementum tor
			.do-block
				.do-wrapper-img-icon
					<i class="fa fa-tachometer"></i>
					img.do-block-img(src='./images/do_slide.svg')
				p.do-block-title testing
				p.do-block-descr In varius eu elit vel mattis. Proin ac enim orci. 
			.do-block
				.do-wrapper-img-icon
					<i class="fa fa-paper-plane"></i>
					img.do-block-img(src='./images/do_slide.svg')
				p.do-block-title release
				p.do-block-descr Cum sociis natoque penatibus et magnis disurient montes.

			.do-block
				.do-wrapper-img-icon
					<i class="fa fa-paper-plane" aria-hidden="true"></i>
					img.do-block-img(src='./images/do_slide.svg')
				p.do-block-title researching
				p.do-block-descr Curabitur euismod arcu in semper dignissim enean faucibus vulputate.

			.do-block
				.do-wrapper-img-icon
					<i class="fa fa-tachometer" aria-hidden="true"></i>
					img.do-block-img(src='./images/do_slide.svg')
				p.do-block-title work
				p.do-block-descr Curabitur euismod arcu in semper dignissim enean faucibus vulputate.
			.do-block
				.do-wrapper-img-icon
					<i class="fa fa-cubes" aria-hidden="true"></i>
					img.do-block-img(src='./images/do_slide.svg')
				p.do-block-title learning
				p.do-block-descr In varius eu elit vel mattis. Proin ac enim orci. 
			.do-block
				.do-wrapper-img-icon
					<i class="fa fa-search-plus" aria-hidden="true"></i>
					img.do-block-img(src='./images/do_slide.svg')
				p.do-block-title teaching
				p.do-block-descr Cum sociis natoque penatibus et magnis disurient montes.
		<i class="fa fa-angle-right do-slider-next"></i>