.top-banner
	.banner-wrapper
		.treangle
			img.tr_canvas(src='./images/t1.svg')
			img.tr_canvas1(src='./images/treangle.svg')
			p.banner-title as <br> <span>always</span> <br> matters
		.banner-arrow 
			a(href="#services").scroll-link 
				p.banner-arrow-text see why
			img.banner-arrow-img(src='./images/arrow.svg')
	.header
		.container
			.logo
				img.logo-img(src='./images/icon-logo.svg')
				p.logo-title trigonum
			nav.main-nav
				.nav-mobile
					span.nav-mobile__line.nav-mobile__line--top
					span.nav-mobile__line.nav-mobile__line--middle
					span.nav-mobile__line.nav-mobile__line--bottom
			.menu
				ul.menu-list
					li.menu-item
						a(href="#") Home
					li.menu-item
						a(href="#services").scroll-link Services
					li.menu-item
						a(href="#about_us").scroll-link About us
					li.menu-item
						a(href="#blog").scroll-link Blog
					li.menu-item
						a(href="#contacts").scroll-link Contacts