.team#about_us
	.container
		p.section-title meet the team
		.team-wrapper
			.team-block
				.team-img-wrapper
					img(src='./images/team-tr-fon.svg')
					img.team-face(src='./images/team1.png')
				p.team-block-name jogn doe 
				p.team-block-descr Crazy designer & BOSS
				.team-wrapper-icons
					<i class="fa fa-dribbble"></i>
					<i class="fa fa-behance" aria-hidden="true"></i>
					<i class="fa fa-instagram"></i>
					<i class="fa fa-twitter"></i>
					<i class="fa fa-facebook"></i>
			.team-block
				.team-img-wrapper
					img(src='./images/team-tr-fon.svg')
					img.team-face(src='./images/team2.png')
				p.team-block-name tim gray
				p.team-block-descr Lord of the code
				.team-wrapper-icons
					<i class="fa fa-github-alt"></i>
					<i class="fa fa-linkedin"></i>
					<i class="fa fa-twitter"></i>
					<i class="fa fa-facebook"></i>
			.team-block
				.team-img-wrapper
					img(src='./images/team-tr-fon.svg')
					img.team-face(src='./images/team3.png')
				p.team-block-name alison tamer
				p.team-block-descr the Boss tamer
				.team-wrapper-icons
					<i class="fa fa-instagram"></i>
					<i class="fa fa-twitter"></i>
					<i class="fa fa-facebook"></i>