.today
	.container
		img.section-img(src='./images/today_icon.svg')
		p.section-title trigonum today
		p.section-subtitle Curabitur bibendum quis enim sit amet ornare. Curabitur euismod arcu in semper dignissim. Aenean faucibus vulputate placerat. Cras elementum tortor ac velit consectetur fermentum. Pellentesque tellus nibh, ultricies a justo id, condimentum tincidunt est.