.update
	.container
		p.section-title get update
		.update-wrapper
			.update-soc-wrapper
				.soc-block
					<i class="fa fa-facebook"></i>
					img(src='./images/up_1.svg')

				.soc-block
					<i class="fa fa-google-plus"></i>
					img(src='./images/up_2.svg')
				.soc-block
					<i class="fa fa-twitter"></i>
					img(src='./images/up_3.svg')
				.soc-block
					<i class="fa fa-linkedin"></i>
					img(src='./images/up_4.svg')
				.soc-block
					<i class="fa fa-pinterest"></i>
					img(src='./images/up_5.svg')
			form.update-suscribe
				input.sign-input(type="text" placeholder= "enter your email")
				input.sign-confirm(type="submit" value="subscribe")