.work
	.container
		img.section-img(src='./images/section-icon.svg')
		p.section-title our work
		.wrapper-work-types
			div(class="work-button assign" data-type = "all")
				p all
			div(class="work-button" data-type = "video")
				p video
			div(class="work-button" data-type = "web")
				p web
			div(class="work-button" data-type = "logo")
				p logo
	.js-work-slider
		.work-img-block-wrapper
			.work-img-block
				div(class="work-img" data-type = "web")
					img(src='./images/w_1.png' )
					.work-active
						p my awesome project
						img.tr-left(src='./images/work_icon_active1.svg' )
						<span class="eye">
							<i class="fa fa-eye"></i>
						</span>
						img.tr-right(src='./images/work_icon_active2.svg' )
						<span class="elink">
							<i class="fa fa-link"></i>
						</span>
				div(class="work-img" data-type = "logo")
						img(src='./images/w_2.png' )
						.work-active
							p my awesome project
							img.tr-left(src='./images/work_icon_active1.svg' )
							<span class="eye">
								<i class="fa fa-eye"></i>
							</span>
							img.tr-right(src='./images/work_icon_active2.svg' )
							<span class="elink">
								<i class="fa fa-link"></i>
							</span>
				div(class="work-img" data-type = "video")
						img(src='./images/w_3.png' )
						.work-active
							p my awesome project
							img.tr-left(src='./images/work_icon_active1.svg' )
							<span class="eye">
								<i class="fa fa-eye"></i>
							</span>
							img.tr-right(src='./images/work_icon_active2.svg' )
							<span class="elink">
								<i class="fa fa-link"></i>
							</span>
				div(class="work-img" data-type = "video")
						img(src='./images/w_4.png' )
						.work-active
							p my awesome project
							img.tr-left(src='./images/work_icon_active1.svg' )
							<span class="eye">
								<i class="fa fa-eye"></i>
							</span>
							img.tr-right(src='./images/work_icon_active2.svg' )
							<span class="elink">
								<i class="fa fa-link"></i>
							</span>
				div(class="work-img" data-type = "logo")
						img(src='./images/w_5.png' )
						.work-active
							p my awesome project
							img.tr-left(src='./images/work_icon_active1.svg' )
							<span class="eye">
								<i class="fa fa-eye"></i>
							</span>
							img.tr-right(src='./images/work_icon_active2.svg' )
							<span class="elink">
								<i class="fa fa-link"></i>
							</span>
				div(class="work-img" data-type = "logo")
						img(src='./images/w_6.png' )
						.work-active
							p my awesome project
							img.tr-left(src='./images/work_icon_active1.svg' )
							<span class="eye">
								<i class="fa fa-eye"></i>
							</span>
							img.tr-right(src='./images/work_icon_active2.svg' )
							<span class="elink">
								<i class="fa fa-link"></i>
							</span>
				div(class="work-img" data-type = "web")
						img(src='./images/w_7.png' )
						.work-active
							p my awesome project
							img.tr-left(src='./images/work_icon_active1.svg' )
							<span class="eye">
								<i class="fa fa-eye"></i>
							</span>
							img.tr-right(src='./images/work_icon_active2.svg' )
							<span class="elink">
								<i class="fa fa-link"></i>
							</span>
				div(class="work-img" data-type = "web")
						img(src='./images/w_8.png' )
						.work-active
							p my awesome project
							img.tr-left(src='./images/work_icon_active1.svg' )
							<span class="eye">
								<i class="fa fa-eye"></i>
							</span>
							img.tr-right(src='./images/work_icon_active2.svg' )
							<span class="elink">
								<i class="fa fa-link"></i>
							</span>
				div(class="work-img" data-type = "logo")
						img(src='./images/w_9.png')
						.work-active
							p my awesome project
							img.tr-left(src='./images/work_icon_active1.svg' )
							<span class="eye">
								<i class="fa fa-eye"></i>
							</span>
							img.tr-right(src='./images/work_icon_active2.svg' )
							<span class="elink">
								<i class="fa fa-link"></i>
							</span>
				div(class="work-img" data-type = "video")
						img(src='./images/w_10.png')
						.work-active
							p my awesome project
							img.tr-left(src='./images/work_icon_active1.svg' )
							<span class="eye">
								<i class="fa fa-eye"></i>
							</span>
							img.tr-right(src='./images/work_icon_active2.svg' )
							<span class="elink">
								<i class="fa fa-link"></i>
							</span>
		.work-img-block-wrapper
			.work-img-block
				div(class="work-img" data-type = "web")
						img(src='./images/w_10.png')
						.work-active
							p my awesome project
							img.tr-left(src='./images/work_icon_active1.svg' )
							<span class="eye">
								<i class="fa fa-eye"></i>
							</span>
							img.tr-right(src='./images/work_icon_active2.svg' )
							<span class="elink">
								<i class="fa fa-link"></i>
							</span>
				div(class="work-img" data-type = "logo")
						img(src='./images/w_9.png')
						.work-active
							p my awesome project
							img.tr-left(src='./images/work_icon_active1.svg' )
							<span class="eye">
								<i class="fa fa-eye"></i>
							</span>
							img.tr-right(src='./images/work_icon_active2.svg' )
							<span class="elink">
								<i class="fa fa-link"></i>
							</span>
				div(class="work-img" data-type = "logo")
						img(src='./images/w_7.png')
						.work-active
							p my awesome project
							img.tr-left(src='./images/work_icon_active1.svg' )
							<span class="eye">
								<i class="fa fa-eye"></i>
							</span>
							img.tr-right(src='./images/work_icon_active2.svg' )
							<span class="elink">
								<i class="fa fa-link"></i>
							</span>
				div(class="work-img" data-type = "video")
						img(src='./images/w_6.png')
						.work-active
							p my awesome project
							img.tr-left(src='./images/work_icon_active1.svg' )
							<span class="eye">
								<i class="fa fa-eye"></i>
							</span>
							img.tr-right(src='./images/work_icon_active2.svg' )
							<span class="elink">
								<i class="fa fa-link"></i>
							</span>
				div(class="work-img" data-type = "logo")
						img(src='./images/w_5.png')
						.work-active
							p my awesome project
							img.tr-left(src='./images/work_icon_active1.svg' )
							<span class="eye">
								<i class="fa fa-eye"></i>
							</span>
							img.tr-right(src='./images/work_icon_active2.svg' )
							<span class="elink">
								<i class="fa fa-link"></i>
							</span>
				div(class="work-img" data-type = "logo")
						img(src='./images/w_4.png')
						.work-active
							p my awesome project
							img.tr-left(src='./images/work_icon_active1.svg' )
							<span class="eye">
								<i class="fa fa-eye"></i>
							</span>
							img.tr-right(src='./images/work_icon_active2.svg' )
							<span class="elink">
								<i class="fa fa-link"></i>
							</span>
				div(class="work-img" data-type = "logo")
						img(src='./images/w_3.png')
						.work-active
							p my awesome project
							img.tr-left(src='./images/work_icon_active1.svg' )
							<span class="eye">
								<i class="fa fa-eye"></i>
							</span>
							img.tr-right(src='./images/work_icon_active2.svg' )
							<span class="elink">
								<i class="fa fa-link"></i>
							</span>
				div(class="work-img" data-type = "logo")
						img(src='./images/w_2.png')
						.work-active
							p my awesome project
							img.tr-left(src='./images/work_icon_active1.svg' )
							<span class="eye">
								<i class="fa fa-eye"></i>
							</span>
							img.tr-right(src='./images/work_icon_active2.svg' )
							<span class="elink">
								<i class="fa fa-link"></i>
							</span>
				div(class="work-img" data-type = "logo")
						img(src='./images/w_1.png')
						.work-active
							p my awesome project
							img.tr-left(src='./images/work_icon_active1.svg' )
							<span class="eye">
								<i class="fa fa-eye"></i>
							</span>
							img.tr-right(src='./images/work_icon_active2.svg' )
							<span class="elink">
								<i class="fa fa-link"></i>
							</span>
				div(class="work-img" data-type = "logo")
						img(src='./images/w_10.png')
						.work-active
							p my awesome project
							img.tr-left(src='./images/work_icon_active1.svg' )
							<span class="eye">
								<i class="fa fa-eye"></i>
							</span>
							img.tr-right(src='./images/work_icon_active2.svg' )
							<span class="elink">
								<i class="fa fa-link"></i>
							</span>
		