doctype html	
html
	head 
		title Hello!
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no") 
		link(rel='stylesheet', href='./css/slick-theme.css', type='text/css' )
		link(rel='stylesheet', href='./css/slick.css', type='text/css' )
		link(rel='stylesheet', href='./css/build.css', type='text/css' )
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true&language=en&key=AIzaSyCZg-NOS6mEdaYTGu22WpFLQJQJ8eEObOo"></script>
		script(src='./js/lib.js')
		script(src='./js/build.js')
		

	include ../templates/sections/header.pug
	include ../templates/sections/do.pug
	include ../templates/sections/today.pug
	include ../templates/sections/team.pug
	include ../templates/sections/clients.pug
	include ../templates/sections/work.pug
	include ../templates/sections/blog.pug
	include ../templates/sections/update.pug
	include ../templates/sections/contacts.pug
	include ../templates/sections/map.pug