.top-banner
	height 100vh
	min-height 100px
	background url('../images/background.jpg') 0 0 repeat-x
	width 100%
	//растянуло картинку на всю ширину
	display flex
	flex-wrap wrap
	//выравнивает контент по центру
	align-content center
	justify-content center
	//поставили такое значение для того, чтобы разобраться с меню
	position relative
	color white
	text-align center
	text-transform uppercase
	overflow hidden
	.banner-wrapper
		position relative
		max-width 1200px
		margin 0 auto
		width 100%
		display flex
		flex-direction column
		justify-content flex-end
		.treangle
			position relative
			margin 0 auto
			padding-bottom 4%
			padding-right 100px
			img
				position absolute
				opacity 0.2
			.banner-title 
				font-family "OpenSans-Light"
				font-size 80px
				padding-top 60px
				padding-left 125px
				text-align center
				span
					font-size 70px
					font-family "OpenSans-Bold"
			.tr_canvas1
				left -200px
			.tr_canvas
				left -4px
		
		.banner-arrow
			text-align center
			// margin-bottom 115px
			cursor pointer
			.banner-arrow-text
				font-family "OpenSans-Bold"
				font-size 18px
				color #fff
.header	
	width 100%
	position absolute
	.container
		display flex
		justify-content space-between
		padding-top 60px		
		.menu,.logo
			cursor pointer

		.logo
			.logo-img,.logo-title
				display inline-block
			.logo-title
				font-size 24px
				font-family "OpenSans-Bold"
				margin-left 15px
		
		.menu
			width 70%
			.menu-list
				display flex
				justify-content space-around
				.menu-item
					a
						display block
						text-align center
						font-family "OpenSans-Bold"
						text-transform uppercase
						font-size 16px
						padding-top 5px
						color #fff


.nav-mobile
	display none
	position absolute
	right 0
	top 20px
	bottom -21px
	cursor pointer
	width 70px
	background-color transparent
	transition all linear .5s
	
	&.active
		background-color black
		top -25px
		//плавная смена цвета
		transition all linear .5s
		.nav-mobile__line--top
			top 50%
			transform rotate(45deg) translateY(-50%)
			transition all linear .5s	
		.nav-mobile__line--middle
			opacity 0
			transition all linear .5s
		.nav-mobile__line--bottom
			top 50%
			transform rotate(-45deg) translateY(-50%)
			transition all linear .5s
	.nav-mobile__line
		position absolute
		display block
		width 30px
		height 2px
		left 20px
		background-color white
	.nav-mobile__line--top
		top 48px
		transition all linear .5s	
	.nav-mobile__line--middle
		top 58px
		opacity 1
		transition all linear .5s
	.nav-mobile__line--bottom
		top 68px
		transition all linear .5s

.header .container .menu.mobile-show
	display block
	background black
	position absolute
	top 112px
	right 0
	width 100%
	height 243px
	
	.menu-list
		position relative 
		padding 20px
		a
			font-size 25px