.do 
	position relative
	overflow hidden
	.container
		padding-bottom 80px
	
		.js-do-slider
			width 95%
			margin-left 2%
			.do-block
				position relative
				overflow hidden
				width 100%
				
				.do-wrapper-img-icon
					position relative
					.do-block-img
						margin 0 auto
						cursor pointer

					i.fa
						position absolute
						top 32px
						left 44%
						color white
						font-size 38px
						cursor pointer
						
				.do-block-title
					font-family "OpenSans-Semibold"
					font-size 18px
					line-height 18px
					color #58667f
					text-transform uppercase
					text-align center
					margin 40px 0
					cursor pointer
				
				.do-block-descr
					font-family "OpenSansLight-Italic"
					font-size 14px
					line-height 18px
					color #58667f
					text-align center
					padding 0 45px
