.team
	position relative
	overflow hidden
	.container
		padding-top 60px
		padding-bottom 50px
		overflow hidden
		.section-title
			margin-bottom 60px
		.team-wrapper
			position relative
			display flex
			justify-content space-between
			align-items center
			flex-wrap wrap
			overflow hidden
			.team-block
				position relative
				.team-img-wrapper
					position relative
					overflow hidden
					.team-face
						position absolute
						bottom 15px
						left 0
				.team-block-name
					text-align center
					font-size 18px
					line-height 27px
					color #ed485c
					margin 15px 0
					font-family "OpenSans-Semibold"
					text-transform uppercase
				.team-block-descr
					color #58667f
					line-height 27px
					font-size 16px
					text-align center
					font-family "OpenSansLight-Italic"
					margin-bottom 35px
					
				.team-wrapper-icons
					position relative
					text-align center
					i.fa
						color #58667f
						font-size 25px
						margin-right 25px
						text-align center
						cursor pointer
						&:last-child
							margin-right 0