.clients
	background url('../images/clients_layout.jpg') 0 0 repeat-x
	width 100%
	background-size cover
	position relative
	overflow hidden
	.container
		padding-bottom 80px
		p
			color #ed485c
		.clients-slider-prev, .clients-slider-next
			bottom 102px
			color #5d5d61
			opacity 1
		.js-clients-slider
			width 95%
			margin 0 3%
			.client-img
				position relative
				overflow hidden
				height 100%
				img
					margin 0 auto