.work 
	position relative
	overflow hidden
	
	.wrapper-work-types
		position relative
		display flex
		justify-content center
		flex-direction row
		align-items center
		margin-bottom 60px
		
		.work-button
			position relative
			border 2px solid #ed485c
			margin-right 35px
			cursor pointer
			
			&:last-child
				margin-right 0

			
			p 
				color #ed485c
				text-transform uppercase
				font-size 18px
				line-height 27px
				font-family "OpenSans-Semibold"
				text-align center
				margin 5px 30px
	.js-work-slider
		position relative
		overflow hidden
		max-width 1600px
		margin 0 auto
		.work-img-block-wrapper
			position relative
			display flex
			flex-wrap wrap
			justify-content center
		.work-img-block
			position relative
			display flex
			flex-wrap wrap
			justify-content space-around
			.work-img
				position relative
				overflow hidden
			


.work-active	
	width 320px
	height 243px
	position relative
	display none
	margin-top -243px
	//width 100%
	z-index 5
	&:before
		content ''
		position absolute
		z-index -1
		background-color: rgba(219, 83, 97, 0.8); 
		top 0
		left 0
		right 0
		bottom 0
	
	p
		text-transform uppercase
		color #fff
		font-family "OpenSans-Semibold"
		font-size 18px
		text-align center
		line-height 237px
	.tr-left
		position absolute
		top 0
		left 0
	.tr-right
		position absolute
		top 0
		right 0	
	span.eye 
		position absolute !important
		top 7px
		left 10px
		color #ed485c
		cursor pointer
	span.elink
		position absolute
		top 8px
		right 8px
		color #fff
		cursor pointer