.blog .container
	padding-bottom 65px
.blog-wrapper
	position relative
	overflow hidden
	display flex
	justify-content space-around
	
	.blog-block
		position relative
		width 30%
		

		p.blog-title, p.blog-text
			color #58667f
			line-height 27px
			
		p.blog-title
			font-family "OpenSans-Semibold"
			font-size 24px
			margin 20px 0
			text-align center
				
			
		p.blog-text
			font-family "OpenSans"
			font-size 16px

		.blog-icons
			margin-top 15px
			display flex
			justify-content space-between
			position relative
			.blog-icons-right, .blog-icons-left
				i.fa, p
					display inline-block
					color #97a5b7
				p.blog-icons-date
					font-family "OpenSans-Light"
					font-size 16px
					margin-left 15px
				p.blog-counts
					font-family "OpenSans-Bold"
					font-size 16px
					margin-left 15px