.update
	background url('../images/update_layout.jpg') 0 0 repeat-x
	width 100%
	background-size cover
	position relative
	overflow hidden
	
	.container
		
		.section-title
			color #fefefe
			margin 60px 0
		
		.update-wrapper
			position relative
			overflow hidden
			display flex
			flex-wrap wrap
			justify-content space-around
			
			.update-soc-wrapper
				position relative
				overflow hidden
				display flex
				justify-content flex-start
				flex-wrap wrap
				margin-bottom 85px
				
				.soc-block
					position relative
					margin-right 35px
					cursor pointer
					&:last-child
						margin-right 0
					i.fa
						position absolute
						top 12px
						left 30px
						color white
						font-size 20px
					
			.update-suscribe
				
				.sign-input
					margin-right 35px
					min-width 370px
					font-family "OpenSans"
					
					font-size 18px
					padding 12px 24px
				
					&:placeholder
						color #97a5b7
				.sign-confirm
					background #ed485c
					color #fff
					padding 12px 24px
					text-transform uppercase
					font-family "OpenSans-Semibold"
					font-size 20px
					cursor pointer
					