.wrapper-contacts
	position relative
	overflow hidden
	display flex
	flex-wrap wrap
	justify-content space-evenly
	
	.wrapper-contact-text
		color #58667f

		p.contact-title	
			font-family "OpenSans-Bold"
			font-size 18px
			line-height 27px
			margin-bottom 35px
			
		p.contact-address , .contact-phone ,.email
			font-family "OpenSans"
			font-size 18px
			line-height 27px
			margin-bottom 45px
			font-style italic
			
		p.phone
			font-family "OpenSans"
		p.email
			span
				font-family "OpenSans"
				color #ed485c
	
	.wrapper-contact-form
		width 61%
		position relative
		p.section-title
			text-align left
			
		.contact-input
			position relative
			overflow hidden
			display block
			margin-bottom 30px
			
			.contact-input, p
				display inline-block
				
			.contact-input 
				min-width 460px
				padding 10px
				margin-right 35px
				margin-bottom 0
				border 2px solid #e7e7e7
			p
				color #58667f
				font-family "OpenSans"
				font-style italic
				font-size 27px
				line-height 27px
		
		.contacts-textarea
			position relative		
			padding 10px
			background-color white
			width 97%
			margin-bottom 28px
			border 2px solid #e7e7e7
		
		.contacts-confirm
			position relative
			float right 
			background-color #ed485c
			text-transform uppercase
			color #fff
			font-family "OpenSans-Bold"
			font-size 27px
			padding 10px 38px
			line-height 27px
			cursor pointer
			margin-bottom 70px