@media screen and (max-width 1135px)
	.update-suscribe
		margin-bottom 20px
	.update .container .update-wrapper .update-soc-wrapper
		margin-bottom 40px
@media screen and (max-width 1018px)
	.top-banner .banner-wrapper .treangle 
		.tr_canvas1
			display none
	.container .logo
		margin-left 10px
		
@media screen and (max-width 950px)
	.blog-wrapper
		justify-content center
		flex-wrap wrap
		flex-direction column
		align-items center
		.blog-block
			width min-content
			margin 10px auto
			
@media screen and (max-width 800px)
	.wrapper-contacts .wrapper-contact-form .contact-input .contact-input
		min-width min-content

@media screen and (max-width 750px)
	.team .container .team-wrapper
		justify-content space-around
		.team-block
			margin-bottom 20px
			.team-block-name
				margin 5px 0
			.team-block-descr
				margin-bottom 5px
			.team-wrapper-icons
				i.fa
					margin-right 10px
					
@media screen and (max-width 700px)
	.top-banner 
		.banner-wrapper 
			.banner-arrow
				margin-bottom 50px
	.main-nav
		.nav-mobile
			display block	
	.menu
		display none
		.menu-list
			flex-direction column
			flex-wrap wrap
			
@media screen and (max-width 630px)
	.update-suscribe
		position relative
		display flex
		flex-wrap wrap
		justify-content space-around
	.update .container .update-wrapper .update-suscribe .sign-input
		min-width min-content	
		margin-right 0
@media screen and (max-width 610px)
	.top-banner .banner-wrapper .treangle .tr_canvas
		display none
	.top-banner .banner-wrapper .treangle
		width 100%
		margin-bottom auto
		padding-right 0
		p.banner-title
			padding-left 0
			padding-top 200px
			
	.section-subtitle
		padding 0 80px
		margin-bottom 30px
	.section-img
		margin 20px auto
	.section-title
		margin-bottom 10px
		
	.work .wrapper-work-types
		margin-bottom 30px
	
	.wrapper-contacts .wrapper-contact-text
		text-align center
@media screen and (max-width 570px)
	.work .wrapper-work-types
		flex-wrap wrap
		flex-direction column
		margin-bottom 10px
		.work-button
			margin-right 0
			margin-bottom 10px
			min-width 120px
		
@media screen and (max-width 521px)
	.update .container .update-wrapper .update-soc-wrapper
		justify-content center
		.soc-block
			margin-bottom 5px
@media screen and (max-width 500px)
	.section-subtitle
		padding 0 40px
 	
@media screen and (max-width 460px)
	.update .container .update-wrapper .update-suscribe .sign-input
		margin-bottom 10px
	.wrapper-contacts .wrapper-contact-form .contact-input .contact-input
		min-width 70%
@media screen and (max-width 370px)
	.top-banner .banner-wrapper .treangle
		p.banner-title
			font-size 60px
			span
				font-size 60px